@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <h1>My name is Natalie — welcome to my hobbies</h1>

    <p>one of my hobby is to be a public speaker. I love, I have a podcast, I like talking in front of a camera and also in front of people or of like big events. Talking mainly about my knowledge, things, experiences that I have had. And yeah, so my<br/> 
        hobby and I love doing it, like with fashion and dressing well. So if you wanna go to shopping and you don't know what to wear, just contact me. I think like, if you are a man, the best way to attract a woman is the way to dress. And a lot of<br/> 
        people that I know in here don't dress well. If you want any fashion advice, I will be more than willing to give you. And about speaking in public, of course, another hobby I have and I'm really good at. So just calculate the fare. If you're<br/> 
        willing to just schedule a call with me, I will be more than happy to help you in these two areas if it's something that you need to improve on.</p>

    <div class="row mt-4">
        <div class="col-md-6 mb-3">
            <img  class="img-fluid hobby-img" src="~/dress1.png" alt="Dress" />
        </div>
        <div class="col-md-6 mb-3">
            <img  class="img-fluid hobby-img" src="~/tedTalk.jpg" alt="Gemini" />
        </div>  <a class="btn btn-primary hobby-btn" asp-controller="Home" asp-action="Calculation">
            Go to Tutor Calculator
        </a>
    </div>

 
</div>